html {
    height: 100%;
    background-image:
        radial-gradient(
            /* circle at top left, */
            rgba(255, 255, 0, 0.699),
            blue
        );
    background-size: cover;
}


.rgb-button {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

#fail {
    width: 300px;
    height: auto;
}

#reveal-box {
    font-size: 20px;
}